/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 24, 2022, 9:55:12 PM
    Author     : E M T
*/
.titleback{/*background-image*/
    text-transform: capitalize;
    margin: 0px 0px 0px 0px;
    width: 100%;
    top: 0px;
    position: relative;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.title{
    position: fixed;
    padding: 15px 100px 20px;
    width: 100%;
    display: inline-block;
    font-size: 25px;
    color: #03a9f4;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    top: 0px;
    background: none;
}
#navbar{
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 55%;
    list-style: none;
    display: flex;
    margin-top: -25px;
}
#navbar a{
    color: white;
}
#navbar a:hover{
    color: #cccccc;
    text-decoration: none;
}
#navbar li{
    margin-right: 30px;
}
.disc{
    position: relative;
    margin-top: 200px;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    line-height: 49px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
    color: white;
    text-align: center;
    word-spacing: 5px;
}
.bold{
    font-size: 42px;
}
.titleback hr{
    width: 18%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border-color: white;
}
.buttons{
    display: flex;
    padding-top: 50px;
    height: 17%;
    width: 376px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13%;
}
#what{
    margin-right: 20px;
    background-color: #03a9f4;
    border: 3.5px solid #03a9f4;
}
#talk{
    background: none;
    border: 3.5px solid white;
}
#what , #talk{
    width: 178px;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: content-box;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;    
    cursor: pointer;
    transition-duration: 0.5s;
}
#what:hover{
    background: none;
    border: 3.5px solid white;
}
#talk:hover{
    background-color: #03a9f4; 
    border: 3.5px solid #03a9f4;
}

.titleback{
    transition: background-image 1.5s ease-in-out;
    background-image: url('../images/home-bg-slideshow1.jpg');
}

@media only screen and (max-width:748px){
    .title{
        background-color: dimgray;
        display: inline-block;
        padding: 6px 18px 0px;
        width: 102%;
        height: 50px;
        font-weight: bold;
        margin-left: -8px;
    }
    #navbar{
        font-size: 14px;
        text-transform: uppercase;
        margin-left: 54%;
        list-style: none;
        display: flex;
        margin-top: -28px;
    }
    #navbar li{
        margin-right: 28px;
        font-weight: bold;
    }
    .disc{
        width: 90%;
    }
    .titleback hr{
        width: 50%;
    }
    .buttons{
        width: fit-content;
        height: auto;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25%;
    }
    #what{
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
    }
    #talk{
        margin-left: auto;
        margin-right: auto;
    }
}