.what_we_do{
  padding:100px 20px 80px 20px;
  display: flex;
  background-color: #f6f6f6;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.what_we_do .header{
  margin-bottom: 3.5em;
}

.what_we_do h1 {
  font-size:60px;
  color: #04cfdd;
  text-align: center;
  margin-bottom: 25px;
  font-weight: bold;
}

.what_we_do h3 {
  text-transform: uppercase;
  position: relative;
  font-size:25px;

  font-weight: bold;
}

.what_we_do h3::after{
  content: "";
  width: 90%;
  height: 0.2px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  top: 50px;
  background-color: rgba(136, 136, 136, 0.753);
}

.cards{
  display: grid;
  grid-template-columns: 30vw 30vw 30vw;
  margin: auto;
}

.cards .card_notB{
  display: flex;
  padding: 25px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 25px;
  transition: all 0.5s ease-in-out;
}
.cards .card_notB:hover{
  box-shadow: 2px 2px 8px 0px rgb(50 50 50 / 20%);
}

.cards .card_notB .icon img{
  width: 40px;
  font-weight: 100;
}

.cards .card_notB .card_t{
  font-size: 1.3em;
  font-weight: bold;
  position: relative;
  margin-bottom: 15px;
}
.cards .card_notB .card_t::after{
  content: "";
  width: 90%;
  height: 0.2px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  top: 50px;
  background-color: rgba(136, 136, 136, 0.753);
}


.cards .card_notB .card_p p {
  margin: 0;
  /* margin-bottom: 0.4em; */

  line-height: 1.8;
}


@media only screen and (max-width:748px){
  .cards{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card_notB{
    width: 80%;
  }
}



@media only screen and (max-width:1080px) and (min-width:748px){
  .cards{
    display: grid;
    grid-template-columns: auto auto;
  }
}
